.add-post-pop {
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    transform: scale(0.5);
    opacity: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    transform-origin: center;
    transition: all .4s ease;
    z-index: 10;
    padding: 0rem;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
}

.child-add-post-pop {
    position: relative;
    height: 50%;
    width: 35%;
    margin: auto;
    padding: 1rem 1rem 0rem 1rem;
    background-color: var(--color-bg);
    overflow: scroll;
    scrollbar-width: 0px;
    scroll-behavior: smooth;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


@media (max-width:868px) {
    .add-post-pop {
        padding: 0;
        border-radius: 0px;
        display: inherit;
    }

    .child-add-post-pop {
        border-radius: 0px;
        height: 100%;
        width: 100%;
        padding: 1rem;
    }

    .body-popup-post {
        flex-direction: column;
    }
}

.show-add-post .add-post-pop {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.show-add-post .header-popup-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding-left: 2rem;
    z-index: 15;
    border-bottom: 1px solid var(--color-border);
}

.body-popup-post {
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    padding: 0 2rem;
    height: 70%;
}

.show-add-post .closeBtn-popup-post {
    font-size: 2rem;
    color: var(--text-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--color-card);
}

.closeBtn-popup-post:hover {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--color-primary);
    transition: .3s;
}
.form-top-popup-user{
    padding: 1rem 0;
}
.public-option{
    background-color: var(--color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}
.body-popup-post textarea{
    background-color: transparent;
    color: var(--text-color);
    height: 100%;
}
.fotter-add-post-pop{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid var(--color-border);
}
.post-categories-popup{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 30px;
}

.post-categories-popup input {
    display: none;
}

.post-categories-popup span {
    transition: .3s ease;
    color: var(--color-primary);
    font-size: 1.5rem;
}
.btn-primary-addpost-pop{
    width: 100%;
    background-image: var(--buttonBg);
    color: white;
    font-size: 1rem;
    font-weight: 800;
}