.meteo-data-home::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: 99%;
  height: 99%;
  z-index: -3;
  opacity: 0.5;
  background-image: url(../../assets/icon/atmo5.jpg);
  filter: blur(3px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.meteo-data-home {
  gap: 1rem;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.meteo-data-home::after {
  content: "";
  opacity: 0.4;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  bottom: 5px;
  filter: blur(1px);
  z-index: 5;
  width: 98.78%;
  height: 99%;
  border-radius: 1.5rem;
  border: 1px solid var(--color-card);
  background: linear-gradient(
    transparent,
    transparent,
    transparent,
    var(--text-color)
  );
}

.meteo-data-home-test {
  background: linear-gradient(180.63deg, #2f5af4 0%, #0fa2ab 100%);
  gap: 1rem;
  width: 100%;
  height: 35rem;
  margin-top: 10px;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.meteo-data-home-content {
  padding: 2rem;
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meteo-data-content-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.meteo-data-home-content h2 {
  font-size: 2rem;
  background-color: white;
  background-image: linear-gradient(90.63deg, white 60%, #7d7c7c 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}

.meteo-data-home-content h1 {
  font-size: 5rem;
  background-color: white;
  background-image: linear-gradient(90.63deg, white 30%, #7d7c7c 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}

.meteo-data-home-content img {
  width: 100px;
  animation: batement 2s infinite linear;
}
.meteo-data-home-graph {
  position: relative;
  padding: 5px;
}
.meteo-data-home-graph-chanceOfrain {
  position: absolute;
  top: 0px;
}

.m-d-h-f-content {
  gap: 5px;
  width: 6.2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: 0.3s;
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.5);
  background: linear-gradient(180.63deg, #2f5af4 0%, #0fa2ab 100%);
}

.m-d-h-f-content::after {
  content: "";
  opacity: 0.4;
  position: absolute;
  filter: blur(1px);
  z-index: 5;
  width: 6.2rem;
  border-radius: 1.5rem;
  border: 1px solid var(--color-card);
  filter: blur(4px);
  background: linear-gradient(
    white,
    transparent,
    transparent,
    transparent,
    transparent
  );
}

.m-d-h-f-content:hover {
  cursor: pointer;
  box-shadow: 0 10px 34px var(--color-primary);
}

.m-d-h-f-content img {
  width: 40px;
  padding-top: inherit;
  animation: batement 2s infinite linear;
}

@keyframes batement {
  /* to {
        transform: rotate(360deg);
    } */
  0% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.meteo-data-home-forcast {
  display: flex;
  gap: 0.5rem;
  padding-top: 15px;
}

.m-d-h-f-content p,
.m-d-h-f-content h4,
.m-d-h-f-content h3 {
  width: 100%;
  text-align: center;
  color: white;
  opacity: 0.7;
  position: relative;
}

.lampe-temoine-pluie {
  width: 35px;
  height: 35px;
  padding: 5px;
  z-index: 200;
  font-size: 13px;
  bottom: 20px;
  left: 30px;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.m-d-h-f-see-more {
  margin-top: 1rem;
  padding: 15px;
  font-weight: 600;
  color: white;
  z-index: 100;
  cursor: pointer;
  border-radius: 50px;
  background: #1e4b1a;
  border: 3px solid #1c4417;
  transition: 0.3s;
  animation: clignotementAlert 2s infinite linear;
}
.m-d-h-f-see-more:hover {
  background: linear-gradient(180.63deg, #44a73b 0%, #44a73b 100%);
  border: 3px solid #44a73b;
  box-shadow: 0 10px 34px #44a73b;
  animation: inherit;
}
@keyframes clignotementAlert {
  30% {
    border: 3px solid #44a73b;
    box-shadow: 0 10px 34px #44a73b;
    background: #44a73b;
  }

  100% {
    background: #1e4b1a;
    border: 3px solid #1c4417;
  }

  30% {
    border: 3px solid #44a73b;
    box-shadow: 0 10px 34px #44a73b;
  }
}

.m-d-h-f-see-more-jaune {
  margin-top: 1rem;
  padding: 15px;
  font-weight: 600;
  color: white;
  z-index: 100;
  cursor: pointer;
  border-radius: 50px;
  background: #cc7402;
  border: 3px solid #cc7402;
  transition: 0.3s;
  animation: clignotementAlertJaune 2s infinite linear;
}
.m-d-h-f-see-more-jaune:hover {
  background: linear-gradient(180.63deg, #faa12f 0%, #fdb250 100%);
  border: 3px solid #faa12f;
  transform: scale(1.2);
  box-shadow: 0 10px 34px #faa12f;
  animation: inherit;
}
@keyframes clignotementAlertJaune {
  30% {
    border: 3px solid #faa12f;
    box-shadow: 0 10px 34px #faa12f;
    background: #faa12f;
  }

  100% {
    background: #cc7402;
    border: 3px solid #cc7402;
  }

  30% {
    border: 3px solid #faa12f;
    box-shadow: 0 10px 34px #faa12f;
  }
}

.m-d-h-f-see-more-rouge {
  margin-top: 1rem;
  padding: 15px;
  font-weight: 600;
  color: white;
  z-index: 100;
  cursor: pointer;
  border-radius: 50px;
  background: #750101;
  border: 3px solid #750101;
  transition: 0.3s;
  animation: clignotementAlertRouge 2s infinite linear;
}
.m-d-h-f-see-more-rouge:hover {
  background: linear-gradient(180.63deg, red 0%, #f55858 100%);
  border: 3px solid red;
  transform: scale(1.2);
  box-shadow: 0 10px 34px red;
  animation: inherit;
}
@keyframes clignotementAlertRouge {
  30% {
    border: 3px solid red;
    box-shadow: 0 10px 34px red;
    background: red;
  }

  100% {
    background: #750101;
    border: 3px solid #750101;
  }

  30% {
    border: 3px solid red;
    box-shadow: 0 10px 34px red;
  }
}

@media (max-width: 1280px) {
  .m-d-h-f-content {
    width: 4.5rem;
    height: 8.5rem;
  }
}
